<div class='container'>
  <div class='row'>
    <div class='col text-center'>
      <h3 class='panel-title'>COMPANIES</h3>
    </div>
  </div>

  <div class='row'>
    <div class='col text-center'>
      <%= render 'partials/search_form', url: admin_companies_path %>
    </div>
  </div>
  <%= render 'partials/clear_search', path: admin_companies_path %>


  <table class='table table-hover'>
    <thead>
      <tr>
        <th scope='col'><%= sort_link 'word' %></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td scope='row'><%= company.word %></td>
          <td><%= link_to 'Edit', edit_admin_company_path(company) %></td>
          <td><%= link_to 'Delete', admin_company_path(company), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'partials/pagy_menu' %>
