<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container'>
    <%= link_to 'Bad Pitch Generator', root_path, class: 'navbar-brand' %>
    <button class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
        </li>

        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle
                    <%= active_if(admin_companies_path) %>
                    <%= active_if(new_admin_company_path) %>"
                     href='#' id='navbarDropdown' role='button'
                     data-bs-toggle='dropdown' aria-expanded='false'>
            Companies
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
            <li><%= link_to 'All Companies', admin_companies_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'New Company', new_admin_company_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>

      <ul class='navbar-nav ms-auto'>
        <span class='nav-item me-auto'>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </span>
      </ul>
    </div>
  </div>
</nav>
