<div class='container'>
  <%= render 'pitch_title_block' %>
  <%= render 'pitch_button_block' %>
  <%= render 'pink_flamingo_block' %>
  <%= render 'specs_block' %>
  <%= render 'partials/footer' %>
</div>
