<div class='container-fluid'>
  <%= render 'pitch_title_block' %>
  <%= render 'pitch_block' %>
  <%= render 'pink_flamingo_block' %>
  <%= render 'specs_block' %>
  <%= render 'partials/footer' %>
</div>
